/* Helpers */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  @include transform(translate(-50%, -50%));
}

.container {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  position: absolute;
  padding: 1em 0;
  text-align: center;
  z-index: 2;
  @include animation(Container 5s cubic-bezier(0.45, 0.43, 0.52, 1.03));
}

@include keyframes(Container) {
  0%, 100% {
    opacity: 0;
    visibility: hidden;
  }
  10%, 80% {
    opacity: 1;
    visibility: visible;
  }
}

.flash,
.errors {
  @extend .container;
  padding: 1em 0;
  color: $white;

  &.error,
  &.alert {
    background: $red;
  }

  &.success {
    background: $green;
  }

  &.notice {
    background: $purple;
  }
}

.errors {
  @extend .container;
  height: 100%;
  padding: 0;
  border-radius: 12px;
  background: $red;

  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 10px;
      color: $white;
    }
  }
}

.red {
  color: $red;
}

.background_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: inline-block;
  height: 1.5em;
  line-height: 0;
  margin: -0.55em 0.25em -0.45em 0;
  position: relative;
  width: 1.5em;
}
