/*  Navigation toolbar */

.nav {
  position: absolute;
  z-index: 1;
  right: 1em;

  li {
    display: inline-block;
    margin: 0 10px;
    @include media(mobile) {
      display: block;
      margin: 10px 0;
      text-align: right;
    }
  }

  .avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid white;
    background: $white;
    vertical-align: middle;
    @include media(mobile) {
      display: none;
    }
  }
}
